@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
  filter: blur(12px);
}

.clip-diagonal2 {
  clip-path: polygon(100% 100%, 100% 0, 100% 0, 0 100%);
  filter: blur(12px);
}

.blue-shadow {
  text-shadow: 2px 2px 5px rgba(59, 130, 246, 0.9),
    4px 4px 10px rgba(59, 130, 246, 0.7), 6px 6px 15px rgba(59, 130, 246, 0.5);
}
.purp-shadow {
  text-shadow: 2px 2px 5px rgba(193, 59, 246, 0.9),
    4px 4px 10px rgba(193, 59, 246, 0.7), 6px 6px 15px rgba(193, 59, 246, 0.5);
}

.aaa1 {
  background: linear-gradient(
    135deg,
    rgba(193, 59, 246, 0.1),
    rgba(193, 59, 246, 0)
  );
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(193, 59, 246);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  z-index: 2;
}

.aaa2 {
  background: linear-gradient(
    135deg,
    rgba(193, 59, 246, 0.1),
    rgba(193, 59, 246, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  z-index: 2;
}
